/*
					   http://peacepeacecreations.esy.es 
Maksim Lysyi
														*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background-color: rgba(224, 194, 140, 0.55);
  text-shadow: none; }

::selection {
  background-color: rgba(224, 194, 140, 0.55);
  text-shadow: none; }

:focus {
  outline: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

sup {
  vertical-align: super;
  font-size: 8px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   _container _body
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body,
html {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: default;
  background-color: #ffffff;
  overflow-x: hidden;
  -webkit-animation: sc 4s;
          animation: sc 4s; }

.btn_geo {
  position: absolute;
  right: 5px;
  top: 57%;
  width: 35px;
  height: 35px;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer; }
  .btn_geo svg {
    width: 20px;
    height: 20px; }

.g_txt__logo {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.g_txt__h2 {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px; }

.g_txt__h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px; }

.g_txt__h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 24px; }

.g_txt__h4 {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 24px; }

.m_map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

#map {
  width: 100vw;
  height: 100vh; }

.s_aside-menu {
  width: 290px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 45px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }
  .s_aside-menu.active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
    .s_aside-menu.active .s_aside-menu__hamb {
      right: 0;
      -webkit-transition: right .4s, -webkit-transform .15s .2s;
      transition: right .4s, -webkit-transform .15s .2s;
      -o-transition: transform .15s .2s, right .4s;
      transition: transform .15s .2s, right .4s;
      transition: transform .15s .2s, right .4s, -webkit-transform .15s .2s; }
  .s_aside-menu__hamb {
    position: absolute;
    right: -70px;
    top: 0;
    margin-right: 15px;
    height: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: right .3s ease, -webkit-transform .15s .2s ease;
    transition: right .3s ease, -webkit-transform .15s .2s ease;
    -o-transition: transform .15s .2s ease, right .3s ease;
    transition: transform .15s .2s ease, right .3s ease;
    transition: transform .15s .2s ease, right .3s ease, -webkit-transform .15s .2s ease;
    pointer-events: all; }
    .s_aside-menu__hamb span {
      -webkit-transition: background 0.2s ease, -webkit-transform 0.3s 0.2s;
      transition: background 0.2s ease, -webkit-transform 0.3s 0.2s;
      -o-transition: transform 0.3s 0.2s, background 0.2s ease;
      transition: transform 0.3s 0.2s, background 0.2s ease;
      transition: transform 0.3s 0.2s, background 0.2s ease, -webkit-transform 0.3s 0.2s;
      height: 4px;
      background-color: #ffffff;
      width: 24px; }
    .s_aside-menu__hamb:hover span {
      background-color: #ffd200; }
    .s_aside-menu__hamb._close {
      -webkit-transform: translateX(6px);
          -ms-transform: translateX(6px);
              transform: translateX(6px); }
      .s_aside-menu__hamb._close span {
        background-color: #ea312a; }
      .s_aside-menu__hamb._close span:nth-of-type(1) {
        -webkit-transform: rotate(-45deg) translate(-11px);
            -ms-transform: rotate(-45deg) translate(-11px);
                transform: rotate(-45deg) translate(-11px); }
      .s_aside-menu__hamb._close span:nth-of-type(2) {
        width: 0; }
      .s_aside-menu__hamb._close span:nth-of-type(3) {
        -webkit-transform: rotate(45deg) translate(-11px);
            -ms-transform: rotate(45deg) translate(-11px);
                transform: rotate(45deg) translate(-11px); }
      .s_aside-menu__hamb._close:hover span {
        background-color: #ffd200; }
  .s_aside-menu__top {
    margin-bottom: 25px;
    padding-left: 25px;
    width: 100%;
    height: 100%;
    min-height: 27px;
    max-height: 27px;
    position: relative; }
    .s_aside-menu__top a {
      margin-right: 15px;
      cursor: pointer; }
  .s_aside-menu__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .s_aside-menu__tabs {
    width: 100%;
    min-height: 40px;
    padding: 0 30px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
    z-index: 9; }
    .s_aside-menu__tabs_tab {
      padding: 10px 0 16px;
      width: 33%;
      font-weight: 500;
      font-size: 14px;
      color: #7f7f7f;
      text-align: left;
      cursor: pointer;
      position: relative; }
      .s_aside-menu__tabs_tab:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-top: 2px solid #ea312a;
        -webkit-transition: 0.15s;
        -o-transition: 0.15s;
        transition: 0.15s; }
      .s_aside-menu__tabs_tab.active, .s_aside-menu__tabs_tab:hover {
        color: #000000; }
        .s_aside-menu__tabs_tab.active:before, .s_aside-menu__tabs_tab:hover:before {
          width: 30%; }
  .s_aside-menu__wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
    .s_aside-menu__wrap.active {
      position: relative;
      opacity: 1;
      visibility: visible;
      z-index: 99;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(1) {
        -webkit-animation: down2 0.2s;
                animation: down2 0.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(2) {
        -webkit-animation: down2 0.4s;
                animation: down2 0.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(3) {
        -webkit-animation: down2 0.6s;
                animation: down2 0.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(4) {
        -webkit-animation: down2 0.8s;
                animation: down2 0.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(5) {
        -webkit-animation: down2 1s;
                animation: down2 1s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(6) {
        -webkit-animation: down2 1.2s;
                animation: down2 1.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(7) {
        -webkit-animation: down2 1.4s;
                animation: down2 1.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(8) {
        -webkit-animation: down2 1.6s;
                animation: down2 1.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(9) {
        -webkit-animation: down2 1.8s;
                animation: down2 1.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(10) {
        -webkit-animation: down2 2s;
                animation: down2 2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(11) {
        -webkit-animation: down2 2.2s;
                animation: down2 2.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(12) {
        -webkit-animation: down2 2.4s;
                animation: down2 2.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(13) {
        -webkit-animation: down2 2.6s;
                animation: down2 2.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(14) {
        -webkit-animation: down2 2.8s;
                animation: down2 2.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(15) {
        -webkit-animation: down2 3s;
                animation: down2 3s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(16) {
        -webkit-animation: down2 3.2s;
                animation: down2 3.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(17) {
        -webkit-animation: down2 3.4s;
                animation: down2 3.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(18) {
        -webkit-animation: down2 3.6s;
                animation: down2 3.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(19) {
        -webkit-animation: down2 3.8s;
                animation: down2 3.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(20) {
        -webkit-animation: down2 4s;
                animation: down2 4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(21) {
        -webkit-animation: down2 4.2s;
                animation: down2 4.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(22) {
        -webkit-animation: down2 4.4s;
                animation: down2 4.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(23) {
        -webkit-animation: down2 4.6s;
                animation: down2 4.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(24) {
        -webkit-animation: down2 4.8s;
                animation: down2 4.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(25) {
        -webkit-animation: down2 5s;
                animation: down2 5s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(26) {
        -webkit-animation: down2 5.2s;
                animation: down2 5.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(27) {
        -webkit-animation: down2 5.4s;
                animation: down2 5.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(28) {
        -webkit-animation: down2 5.6s;
                animation: down2 5.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(29) {
        -webkit-animation: down2 5.8s;
                animation: down2 5.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(30) {
        -webkit-animation: down2 6s;
                animation: down2 6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(31) {
        -webkit-animation: down2 6.2s;
                animation: down2 6.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(32) {
        -webkit-animation: down2 6.4s;
                animation: down2 6.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(33) {
        -webkit-animation: down2 6.6s;
                animation: down2 6.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(34) {
        -webkit-animation: down2 6.8s;
                animation: down2 6.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(35) {
        -webkit-animation: down2 7s;
                animation: down2 7s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(36) {
        -webkit-animation: down2 7.2s;
                animation: down2 7.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(37) {
        -webkit-animation: down2 7.4s;
                animation: down2 7.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(38) {
        -webkit-animation: down2 7.6s;
                animation: down2 7.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(39) {
        -webkit-animation: down2 7.8s;
                animation: down2 7.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(40) {
        -webkit-animation: down2 8s;
                animation: down2 8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(41) {
        -webkit-animation: down2 8.2s;
                animation: down2 8.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(42) {
        -webkit-animation: down2 8.4s;
                animation: down2 8.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(43) {
        -webkit-animation: down2 8.6s;
                animation: down2 8.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(44) {
        -webkit-animation: down2 8.8s;
                animation: down2 8.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(45) {
        -webkit-animation: down2 9s;
                animation: down2 9s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(46) {
        -webkit-animation: down2 9.2s;
                animation: down2 9.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(47) {
        -webkit-animation: down2 9.4s;
                animation: down2 9.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(48) {
        -webkit-animation: down2 9.6s;
                animation: down2 9.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(49) {
        -webkit-animation: down2 9.8s;
                animation: down2 9.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(50) {
        -webkit-animation: down2 10s;
                animation: down2 10s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(51) {
        -webkit-animation: down2 10.2s;
                animation: down2 10.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(52) {
        -webkit-animation: down2 10.4s;
                animation: down2 10.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(53) {
        -webkit-animation: down2 10.6s;
                animation: down2 10.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(54) {
        -webkit-animation: down2 10.8s;
                animation: down2 10.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(55) {
        -webkit-animation: down2 11s;
                animation: down2 11s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(56) {
        -webkit-animation: down2 11.2s;
                animation: down2 11.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(57) {
        -webkit-animation: down2 11.4s;
                animation: down2 11.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(58) {
        -webkit-animation: down2 11.6s;
                animation: down2 11.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(59) {
        -webkit-animation: down2 11.8s;
                animation: down2 11.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(60) {
        -webkit-animation: down2 12s;
                animation: down2 12s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(61) {
        -webkit-animation: down2 12.2s;
                animation: down2 12.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(62) {
        -webkit-animation: down2 12.4s;
                animation: down2 12.4s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(63) {
        -webkit-animation: down2 12.6s;
                animation: down2 12.6s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(64) {
        -webkit-animation: down2 12.8s;
                animation: down2 12.8s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(65) {
        -webkit-animation: down2 13s;
                animation: down2 13s; }
      .s_aside-menu__wrap.active .s_aside-menu__content_item:nth-of-type(66) {
        -webkit-animation: down2 13.2s;
                animation: down2 13.2s; }
      .s_aside-menu__wrap.active .s_aside-menu__result ._down {
        -webkit-transition: 0.4s 0.4s;
        -o-transition: 0.4s 0.4s;
        transition: 0.4s 0.4s;
        opacity: 1;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
  .s_aside-menu__result {
    padding: 30px 20px 30px 30px;
    background-color: #ffd200;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
    position: relative; }
    .s_aside-menu__result .g_txt {
      z-index: 19; }
      .s_aside-menu__result .g_txt p {
        font-weight: 700;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.8); }
        .s_aside-menu__result .g_txt p span {
          font-weight: 400; }
    .s_aside-menu__result .numb__result {
      color: #000000;
      font-weight: 700;
      font-size: 36px; }
    .s_aside-menu__result ._down {
      position: absolute;
      bottom: -15px;
      left: 40px;
      z-index: 9;
      opacity: 0;
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px); }
      .s_aside-menu__result ._down span {
        width: 24px;
        height: 24px;
        padding-top: 4px;
        background: #ffffff;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        position: relative;
        cursor: pointer; }
        .s_aside-menu__result ._down span svg {
          width: 11px;
          height: 11px; }
        .s_aside-menu__result ._down span:before {
          content: '';
          position: absolute;
          bottom: -4px;
          display: block;
          z-index: -1;
          background-color: #ffd200;
          width: -webkit-calc(100%  +  30px);
          width: calc(100%  +  30px);
          height: -webkit-calc(100%  +  30px);
          height: calc(100%  +  30px);
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          -webkit-border-radius: 50% 0% 34% 0%/ 50% 0% 34% 50%;
                  border-radius: 50% 0% 34% 0%/ 50% 0% 34% 50%; }
  .s_aside-menu__content {
    padding-top: 20px;
    height: 100%; }
    .s_aside-menu__content_item {
      padding: 14px 20px 12px 30px;
      cursor: pointer;
      -webkit-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s; }
      .s_aside-menu__content_item:hover {
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                background-color: #ffd200; }
        .s_aside-menu__content_item:hover .g_txt__item {
          font-weight: 700; }
      .s_aside-menu__content_item .g_txt {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .s_aside-menu__content_item .g_txt__item {
          margin-bottom: 3px;
          font-size: 14px;
          color: #000000;
          -webkit-transition: 0.15s;
          -o-transition: 0.15s;
          transition: 0.15s; }
        .s_aside-menu__content_item .g_txt span {
          font-size: 12px;
          font-weight: 300;
          color: #7f7f7f; }
      .s_aside-menu__content_item .numb__item {
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        position: relative; }
        .s_aside-menu__content_item .numb__item:after {
          content: '';
          position: absolute;
          top: 3px;
          left: -15px;
          width: 7px;
          height: 7px;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .s_aside-menu__content_item .numb__item svg {
          margin-left: 5px; }
        .s_aside-menu__content_item .numb__item.min:after {
          background-color: #ffd200; }
        .s_aside-menu__content_item .numb__item.norm:after {
          background-color: #67d000; }
        .s_aside-menu__content_item .numb__item.max:after {
          background-color: #ea312a; }

.s_head-menu {
  margin-left: 60px;
  margin-top: 40px;
  width: 100%; }
  .s_head-menu__item {
    padding: 10px 0 16px;
    width: auto;
    margin-right: 35px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    cursor: pointer;
    position: relative; }
    .s_head-menu__item:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      border-top: 2px solid #ffd200;
      -webkit-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s; }
    .s_head-menu__item.active, .s_head-menu__item:hover {
      color: #ffffff; }
      .s_head-menu__item.active:before, .s_head-menu__item:hover:before {
        width: 20px; }
    .s_head-menu__item.active:before {
      border-color: #fff; }

.s_container {
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.55s 0.05s;
  -o-transition: 0.55s 0.05s;
  transition: 0.55s 0.05s;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px; }
  .s_container.active {
    padding-left: 290px; }
    .s_container.active .s_container__content {
      padding-left: 40px; }
  .s_container__content {
    z-index: 9999;
    width: 100%; }
    .s_container__content_left .g_txt {
      margin-right: 45px; }
      .s_container__content_left .g_txt__h1 span {
        margin-left: 10px;
        font-size: 14px;
        opacity: 0.4;
        font-weight: 300; }
      .s_container__content_left .g_txt p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500; }
    .s_container__content_left .item {
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
      opacity: 0.6;
      position: relative;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
      margin-right: 35px;
      padding-top: 40px; }
      .s_container__content_left .item:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.35);
                box-shadow: 0 7px 12px rgba(0, 0, 0, 0.35);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .s_container__content_left .item._norm:before {
        background: #67d000; }
      .s_container__content_left .item._mid:before {
        background: #ffd200; }
      .s_container__content_left .item._max:before {
        background: #ea312a; }
      .s_container__content_left .item:hover {
        opacity: 1; }
        .s_container__content_left .item:hover:before {
          top: -7px; }
    .s_container__content_right {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .s_container__content_right span {
        margin-top: 10px;
        font-weight: 400;
        color: #fff;
        font-size: 18px; }
    .s_container__content_bottom {
      margin-top: 40px;
      width: 100%;
      border-bottom: 1px solid #fff; }
      .s_container__content_bottom .time {
        width: 11%;
        padding-bottom: 20px;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 300;
        position: relative; }
        .s_container__content_bottom .time:before {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 16px;
          width: 5px;
          height: 5px;
          background: #fff;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .s_container__content_bottom .time:first-of-type:before {
          left: 0; }
        .s_container__content_bottom .time:last-of-type:before {
          right: 0; }
        .s_container__content_bottom .time.active:before {
          width: 8px;
          height: 8px;
          bottom: -4px; }

.popup {
  position: absolute;
  top: 30px;
  left: -webkit-calc(50vw  -  300px);
  left: calc(50vw  -  300px);
  width: 600px;
  height: -webkit-calc(100vh  -  60px);
  height: calc(100vh  -  60px);
  overflow: hidden;
  z-index: 9999;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 20px 0 #485465;
          box-shadow: 0 3px 20px 0 #485465;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition: scale(0.7, 0.7);
  -o-transition: scale(0.7, 0.7);
  transition: scale(0.7, 0.7); }
  .popup_head {
    padding: 40px 50px 10px;
    -webkit-box-shadow: 0 0 25px 4px rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 25px 4px rgba(0, 0, 0, 0.08); }
    .popup_head__left {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .popup_head__right .ic-blocks,
    .popup_head__right .ic-tables {
      width: 37px;
      height: 37px;
      background: #fff;
      cursor: pointer;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      .popup_head__right .ic-blocks.active,
      .popup_head__right .ic-tables.active {
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
        z-index: 9; }
      .popup_head__right .ic-blocks:hover,
      .popup_head__right .ic-tables:hover {
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
        z-index: 99; }
    .popup_head__right .ic-blocks use {
      stroke: #000;
      -webkit-transition: 1.2s ease-in-out;
      -o-transition: 1.2s ease-in-out;
      transition: 1.2s ease-in-out; }
    .popup_head__right .ic-blocks:hover use, .popup_head__right .ic-blocks.active use {
      stroke: #1884a5; }
    .popup_head__right .ic-tables path {
      fill: #000;
      -webkit-transition: 1.2s ease-in-out;
      -o-transition: 1.2s ease-in-out;
      transition: 1.2s ease-in-out; }
    .popup_head__right .ic-tables:hover path, .popup_head__right .ic-tables.active path {
      fill: #1884a5; }
  .popup_result {
    background-color: rgba(230, 230, 230, 0.5);
    padding: 20px 50px;
    position: relative; }
    .popup_result .g_txt {
      z-index: 19; }
      .popup_result .g_txt p {
        font-weight: 700;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.8); }
        .popup_result .g_txt p span {
          font-weight: 400; }
    .popup_result .numb__result {
      color: #000000;
      font-weight: 700;
      font-size: 36px;
      position: relative; }
      .popup_result .numb__result:after {
        content: '';
        position: absolute;
        top: 14px;
        left: -15px;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      .popup_result .numb__result svg {
        margin-bottom: 4px; }
      .popup_result .numb__result.min:after {
        background-color: #ffd200; }
      .popup_result .numb__result.norm:after {
        background-color: #67d000; }
      .popup_result .numb__result.max:after {
        background-color: #ea312a; }
  .popup_bottom {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 150px; }
  .popup .popup_content {
    padding: 20px 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0; }
    .popup .popup_content.visible {
      position: relative;
      z-index: 99;
      visibility: visible;
      opacity: 1; }
      .popup .popup_content.visible .popup__block:nth-of-type(1) {
        -webkit-animation: top 0.2s;
                animation: top 0.2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(2) {
        -webkit-animation: top 0.4s;
                animation: top 0.4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(3) {
        -webkit-animation: top 0.6s;
                animation: top 0.6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(4) {
        -webkit-animation: top 0.8s;
                animation: top 0.8s; }
      .popup .popup_content.visible .popup__block:nth-of-type(5) {
        -webkit-animation: top 1s;
                animation: top 1s; }
      .popup .popup_content.visible .popup__block:nth-of-type(6) {
        -webkit-animation: top 1.2s;
                animation: top 1.2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(7) {
        -webkit-animation: top 1.4s;
                animation: top 1.4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(8) {
        -webkit-animation: top 1.6s;
                animation: top 1.6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(9) {
        -webkit-animation: top 1.8s;
                animation: top 1.8s; }
      .popup .popup_content.visible .popup__block:nth-of-type(10) {
        -webkit-animation: top 2s;
                animation: top 2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(11) {
        -webkit-animation: top 2.2s;
                animation: top 2.2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(12) {
        -webkit-animation: top 2.4s;
                animation: top 2.4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(13) {
        -webkit-animation: top 2.6s;
                animation: top 2.6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(14) {
        -webkit-animation: top 2.8s;
                animation: top 2.8s; }
      .popup .popup_content.visible .popup__block:nth-of-type(15) {
        -webkit-animation: top 3s;
                animation: top 3s; }
      .popup .popup_content.visible .popup__block:nth-of-type(16) {
        -webkit-animation: top 3.2s;
                animation: top 3.2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(17) {
        -webkit-animation: top 3.4s;
                animation: top 3.4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(18) {
        -webkit-animation: top 3.6s;
                animation: top 3.6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(19) {
        -webkit-animation: top 3.8s;
                animation: top 3.8s; }
      .popup .popup_content.visible .popup__block:nth-of-type(20) {
        -webkit-animation: top 4s;
                animation: top 4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(21) {
        -webkit-animation: top 4.2s;
                animation: top 4.2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(22) {
        -webkit-animation: top 4.4s;
                animation: top 4.4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(23) {
        -webkit-animation: top 4.6s;
                animation: top 4.6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(24) {
        -webkit-animation: top 4.8s;
                animation: top 4.8s; }
      .popup .popup_content.visible .popup__block:nth-of-type(25) {
        -webkit-animation: top 5s;
                animation: top 5s; }
      .popup .popup_content.visible .popup__block:nth-of-type(26) {
        -webkit-animation: top 5.2s;
                animation: top 5.2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(27) {
        -webkit-animation: top 5.4s;
                animation: top 5.4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(28) {
        -webkit-animation: top 5.6s;
                animation: top 5.6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(29) {
        -webkit-animation: top 5.8s;
                animation: top 5.8s; }
      .popup .popup_content.visible .popup__block:nth-of-type(30) {
        -webkit-animation: top 6s;
                animation: top 6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(31) {
        -webkit-animation: top 6.2s;
                animation: top 6.2s; }
      .popup .popup_content.visible .popup__block:nth-of-type(32) {
        -webkit-animation: top 6.4s;
                animation: top 6.4s; }
      .popup .popup_content.visible .popup__block:nth-of-type(33) {
        -webkit-animation: top 6.6s;
                animation: top 6.6s; }
      .popup .popup_content.visible .popup__block:nth-of-type(34) {
        -webkit-animation: top 6.8s;
                animation: top 6.8s; }
      .popup .popup_content.visible .popup__block:nth-of-type(35) {
        -webkit-animation: top 7s;
                animation: top 7s; }
      .popup .popup_content.visible .popup__block:nth-of-type(36) {
        -webkit-animation: top 7.2s;
                animation: top 7.2s; }
    .popup .popup_content .popup__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 33%;
      height: 150px;
      padding: 5px;
      border: 1px solid #e6e6e6;
      position: relative;
      text-align: center;
      cursor: pointer;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
      .popup .popup_content .popup__block:hover {
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                background-color: #ffd200; }
      .popup .popup_content .popup__block .popup_content__substance {
        position: absolute;
        left: 10px;
        top: 10px;
        color: #7f7f7f;
        font-size: 14px;
        text-transform: uppercase; }
      .popup .popup_content .popup__block .popup_content__info {
        position: absolute;
        right: 10px;
        top: 10px; }
        .popup .popup_content .popup__block .popup_content__info .a {
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .popup .popup_content .popup__block .popup_content__info:hover .a {
          fill: #ea312a; }
      .popup .popup_content .popup__block .popup_content__name {
        color: #000000;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px; }
      .popup .popup_content .popup__block .popup_content__indication, .popup .popup_content .popup__block .popup_content__class {
        color: #7f7f7f;
        font-size: 12px;
        font-weight: 300;
        margin-top: 5px; }
        .popup .popup_content .popup__block .popup_content__indication span, .popup .popup_content .popup__block .popup_content__class span {
          font-weight: 700;
          color: #646464; }
      .popup .popup_content .popup__block .numb__item {
        font-size: 22px;
        font-weight: 700;
        color: #000000;
        position: relative;
        margin-left: 18px; }
        .popup .popup_content .popup__block .numb__item:after {
          content: '';
          position: absolute;
          top: 7px;
          left: -15px;
          width: 7px;
          height: 7px;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .popup .popup_content .popup__block .numb__item svg {
          margin-top: 5px;
          margin-left: 5px; }
        .popup .popup_content .popup__block .numb__item.min:after {
          background-color: #ffd200; }
        .popup .popup_content .popup__block .numb__item.norm:after {
          background-color: #67d000; }
        .popup .popup_content .popup__block .numb__item.max:after {
          background-color: #ea312a; }
  .popup .popup_content-2 {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0; }
    .popup .popup_content-2.visible {
      position: relative;
      z-index: 99;
      visibility: visible;
      opacity: 1; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(1) {
        -webkit-animation: down 0.2s;
                animation: down 0.2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(2) {
        -webkit-animation: down 0.4s;
                animation: down 0.4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(3) {
        -webkit-animation: down 0.6s;
                animation: down 0.6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(4) {
        -webkit-animation: down 0.8s;
                animation: down 0.8s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(5) {
        -webkit-animation: down 1s;
                animation: down 1s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(6) {
        -webkit-animation: down 1.2s;
                animation: down 1.2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(7) {
        -webkit-animation: down 1.4s;
                animation: down 1.4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(8) {
        -webkit-animation: down 1.6s;
                animation: down 1.6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(9) {
        -webkit-animation: down 1.8s;
                animation: down 1.8s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(10) {
        -webkit-animation: down 2s;
                animation: down 2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(11) {
        -webkit-animation: down 2.2s;
                animation: down 2.2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(12) {
        -webkit-animation: down 2.4s;
                animation: down 2.4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(13) {
        -webkit-animation: down 2.6s;
                animation: down 2.6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(14) {
        -webkit-animation: down 2.8s;
                animation: down 2.8s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(15) {
        -webkit-animation: down 3s;
                animation: down 3s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(16) {
        -webkit-animation: down 3.2s;
                animation: down 3.2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(17) {
        -webkit-animation: down 3.4s;
                animation: down 3.4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(18) {
        -webkit-animation: down 3.6s;
                animation: down 3.6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(19) {
        -webkit-animation: down 3.8s;
                animation: down 3.8s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(20) {
        -webkit-animation: down 4s;
                animation: down 4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(21) {
        -webkit-animation: down 4.2s;
                animation: down 4.2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(22) {
        -webkit-animation: down 4.4s;
                animation: down 4.4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(23) {
        -webkit-animation: down 4.6s;
                animation: down 4.6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(24) {
        -webkit-animation: down 4.8s;
                animation: down 4.8s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(25) {
        -webkit-animation: down 5s;
                animation: down 5s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(26) {
        -webkit-animation: down 5.2s;
                animation: down 5.2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(27) {
        -webkit-animation: down 5.4s;
                animation: down 5.4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(28) {
        -webkit-animation: down 5.6s;
                animation: down 5.6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(29) {
        -webkit-animation: down 5.8s;
                animation: down 5.8s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(30) {
        -webkit-animation: down 6s;
                animation: down 6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(31) {
        -webkit-animation: down 6.2s;
                animation: down 6.2s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(32) {
        -webkit-animation: down 6.4s;
                animation: down 6.4s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(33) {
        -webkit-animation: down 6.6s;
                animation: down 6.6s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(34) {
        -webkit-animation: down 6.8s;
                animation: down 6.8s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(35) {
        -webkit-animation: down 7s;
                animation: down 7s; }
      .popup .popup_content-2.visible .table tbody tr:nth-of-type(36) {
        -webkit-animation: down 7.2s;
                animation: down 7.2s; }
    .popup .popup_content-2 .table {
      width: 100%; }
      .popup .popup_content-2 .table thead tr th {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: left; }
        .popup .popup_content-2 .table thead tr th span {
          padding: 5px 0;
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid #7f7f7f;
          color: #7f7f7f;
          font-size: 12px;
          text-transform: uppercase; }
        .popup .popup_content-2 .table thead tr th:first-of-type {
          padding-left: 50px;
          width: 40%; }
        .popup .popup_content-2 .table thead tr th:last-of-type {
          padding-right: 50px; }
      .popup .popup_content-2 .table tbody tr td {
        cursor: pointer;
        padding: 20px 0; }
        .popup .popup_content-2 .table tbody tr td:first-of-type {
          width: 40%; }
        .popup .popup_content-2 .table tbody tr td:last-of-type {
          padding-right: 50px;
          text-align: right; }
        .popup .popup_content-2 .table tbody tr td .popup_content__substance {
          display: inline-block;
          width: 18%;
          font-size: 14px;
          color: #000000;
          text-transform: uppercase;
          font-weight: 700; }
        .popup .popup_content-2 .table tbody tr td .popup_content__info {
          margin-left: 16px;
          margin-right: 15px;
          opacity: 0;
          -webkit-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease; }
          .popup .popup_content-2 .table tbody tr td .popup_content__info .a {
            -webkit-transition: 0.1s;
            -o-transition: 0.1s;
            transition: 0.1s; }
          .popup .popup_content-2 .table tbody tr td .popup_content__info:hover .a {
            fill: #ea312a; }
        .popup .popup_content-2 .table tbody tr td .popup_content__name {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 700;
          color: #000000; }
        .popup .popup_content-2 .table tbody tr td .popup_content__indication, .popup .popup_content-2 .table tbody tr td .popup_content__class {
          color: #7f7f7f;
          font-size: 12px;
          font-weight: 300;
          margin-top: 5px; }
          .popup .popup_content-2 .table tbody tr td .popup_content__indication span, .popup .popup_content-2 .table tbody tr td .popup_content__class span {
            font-weight: 700;
            color: #646464; }
        .popup .popup_content-2 .table tbody tr td .numb__item {
          font-size: 22px;
          font-weight: 700;
          color: #000000;
          position: relative;
          margin-left: 18px; }
          .popup .popup_content-2 .table tbody tr td .numb__item:after {
            content: '';
            position: absolute;
            top: 11px;
            left: -15px;
            width: 7px;
            height: 7px;
            -webkit-border-radius: 50%;
                    border-radius: 50%; }
          .popup .popup_content-2 .table tbody tr td .numb__item svg {
            margin-top: 5px;
            margin-left: 5px; }
          .popup .popup_content-2 .table tbody tr td .numb__item.min:after {
            background-color: #ffd200; }
          .popup .popup_content-2 .table tbody tr td .numb__item.norm:after {
            background-color: #67d000; }
          .popup .popup_content-2 .table tbody tr td .numb__item.max:after {
            background-color: #ea312a; }
      .popup .popup_content-2 .table tbody tr:hover {
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
                background-color: #ffd200; }
        .popup .popup_content-2 .table tbody tr:hover .popup_content__info {
          opacity: 1; }
  .popup_local {
    margin-top: 10px; }
    .popup_local span {
      margin-left: 10px;
      color: #7f7f7f;
      font-size: 14px;
      font-weight: 400; }
  .popup._visible {
    visibility: visible;
    z-index: 99999;
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .popup ._close_pop {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 44px;
    color: #000;
    font-weight: 400;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .popup ._close_pop:hover {
      color: #ea312a; }

.gmnoprint > div {
  -webkit-border-radius: 20px !important;
          border-radius: 20px !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.35) !important;
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.35) !important;
  background-color: #fff !important; }

@-webkit-keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes down2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes down2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes down3 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes down3 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes top {
  from {
    opacity: 0;
    -webkit-transform: translateY(75px);
            transform: translateY(75px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes top {
  from {
    opacity: 0;
    -webkit-transform: translateY(75px);
            transform: translateY(75px); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.f_end_end, .popup_head__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.f_end_st {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.f_end_c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.f_end_b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.f_st_st, .s_aside-menu__bottom, .s_aside-menu__content_item .g_txt, .s_head-menu, .popup_head__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.f_st_end, .s_aside-menu__result .numb__result, .s_container__content_left, .popup_result .numb__result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.f_st_c, .s_aside-menu, .s_aside-menu__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.f_st_b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.f_b_st, .s_aside-menu__content_item, .s_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.f_b_end, .popup_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.f_b_c, .s_aside-menu__tabs, .s_aside-menu__result, .s_container__content_top, .s_container__content_bottom, .popup_result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.f_b_b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.f_ar_st {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.f_ar_end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.f_ar_c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.f_ar_b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.f_c_st, .s_container__content_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.f_c_end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.f_c_c, .btn_geo, .s_aside-menu__result ._down span, .popup_head__right .ic-blocks,
.popup_head__right .ic-tables, .popup .popup_content .popup__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.f_c_b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.f_d_c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

::-webkit-scrollbar {
  width: 7px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-left: 1px solid rgba(56, 154, 255, 0.6); }

::-webkit-scrollbar-thumb {
  background: rgba(234, 49, 42, 0);
  border: 1px solid rgba(234, 49, 42, 0.6);
  -webkit-box-shadow: 0 0 10px -4px rgba(85, 85, 85, 0.5);
          box-shadow: 0 0 10px -4px rgba(85, 85, 85, 0.5); }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ea312a;
    border: 1px solid #ea312a; }
  ::-webkit-scrollbar-thumb:active {
    background-color: #ea312a;
    border: 1px solid #ea312a; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   _print
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
